* {
    margin: 0px;
    padding: 0px;
}
.heading
{
    /* background-color: rgb(239, 209, 134); */
    background-color: rgb(251, 223, 186);
    display: flex;
    justify-content: space-between;
   padding-left: 20px;
   padding-right: 20px;
   height: 120px;
}
.heading1
{
    display: flex;
     margin-top: 30px;
     justify-content: space-between;
     font-size: 2.3rem;
     width: 650px;
     font-family: 'Lobster', cursive;
    
}
a:link {
    text-decoration: none;
    color: black; 
    
}

a:visited {
    text-decoration: none;
    color: black;
}
.events_details
{
    height: 580px;
   background-image: url(image/navaratri2.png);
   background-repeat: no-repeat;
   background-size: cover;
}
#content
{
    font-size: 1.5rem;
    /* align-items: left; */
    padding: 150px;
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(0, 0, 0);
}
#about_us {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
}
#about_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
#about_div>img {
    width: 454px;
    height: 359px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.heading2 {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}
#events
{
    height: 640px;
   padding-left: 20px;
   padding-right: 20px;
    background-color: rgb(154, 248, 248);
}
.events1
{
    font-size: 2rem;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
}
#events_main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#event_paragraph
{
    font-size: 1.8rem;
}
#offers
{
    height: 350px;
    background-color: rgb(245, 71, 100);
}
.offers_main
{
    display: flex;
    gap: 40px;
    padding: 25px;
}
.offer_image
{
    background-color: white;
    padding: 20px;
    gap: 10px;
    display: flex;
}
.offers_paragraph
{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}
#contact_us
{
    height: 500px;
    background-color: rgb(250, 149, 166);
}
#conact_main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    gap: 20px;
}
.contact-card
{
    background-color: white;
    padding: 20px;
   
}
.contact-card h3 {
    font-size: 2rem;
    margin: 0;
    align-items: center;
}
.contact-card p {
    font-size: 1.5rem;
    margin: 0;
}
.contact-card img
{
    align-items: center;
}
#footer {
    padding: 30px;
    background-color: rgb(251, 223, 186);
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}
.event1
{
    background-color: pink;
}
.event1_main
{
    height: 1200px;
    background-color: rgb(113, 204, 252);
}
.event1_paragraph
{
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 10px;
}
.event1_flex
{
    display: flex;
    gap: 250px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}


/* for parallax effect */
/* if you do not have this, you will see a 
vertical scrollbar on the .parallax div */
body {
    margin: 0;
  }
  
  .parallax {
    height: 150vh;
    overflow-x: hidden;
  
    perspective: 1px;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .layer1 {
    transform: translateZ(1);
  }
  
  .layer2 {
    transform: translateZ(-0.5px);
  }
  
  .layer3 {
    transform: translateZ(-1px);
  }
  
  /* specific to this implementation */
  div {
    font-size: 50px;
    text-align: center;
  }
  
  .parallax-layer.layer1 {
    width: 100%;
    height: 100rem;
  
    background-image: url(image/event2_garba\ page.jpg);
  }
  
  .parallax-layer.layer2 {
    top: 10rem;
  
    width: 100%;
    height: 50rem;
  
    background-color: rgb(35, 218, 35);
  }
  
  .parallax-layer.layer3 {
    top: 20rem;
  
    width: 100%;
    height: 50rem;
  
    background-color: white;
  }
  .event2_paragraph
  {
    font-size: 3.8rem;
    margin-top: 20px;
  }

  /* 2nd parallax */
 .event4
 {
    background-color: rgb(237, 71, 237);
 }
 .event3_main
 {
    display: flex;
    padding: 10px;
    background-color: rgb(237, 101, 101);
    gap: 10px;
 }
 .event3
 {
    font-size: 2.4rem;
 }
 .event5_main
 {
    display: flex;
    padding: 10px;
    background-color: rgb(255, 158, 174);
    gap: 30px;
 }
 .event5
 {
    font-size: 2.4rem;
    padding-bottom: 20px;
 }
 .event6
 {
    height: 520px;
    background-image: url(image/background_image.jpg);
    width: 100%;
 }
 .event6_p
 {
    font-size: 1.9rem;
    padding-bottom: 20px;
 }
 .event6_main
 {
    display: flex;
    padding: 25px;
    gap: 30px;
 }
.event7_p
{
    font-size: 2.5rem;
}
.event7_main
{
    background-color: rgb(115, 231, 192);
    padding: 10px;
}
.event8_main
{
    background-color: rgb(255, 255, 73);
    padding: 10px;
}
.event8_p
{
    font-size: 2.5rem;
}
.event9_main
{
    background-color: orange;
    padding: 10px;
}
.event9_p
{
    font-size: 2.5rem;
}